doctype html
html
  head
    title= title
    link(href="https://fonts.googleapis.com/css?family=Montserrat", rel="stylesheet") 
    link(rel='stylesheet', href='stylesheets/style.css')

    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js", type="text/javascript")

    script(type='text/javascript', src='javascripts/typing_effect.js')

    script(type='text/javascript', src='javascripts/scroll.js')
  body
    block content